body {   
    background-color: #fff;
    background-image: url("../img/footer/404-error-page-not-found.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    margin-top: 1px;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

a {
    text-decoration: none;
    color: #007BFF;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
