    body {
        font-family: "Consolas", monospace;
        text-align: justify;
        background-color: #fff;
    }

    /* --------------------- ENCABEZADO --------------------- */
    /* Estilo para la barra de navegación */
    .navbar {
        background-color: black;
        /* Color de fondo similar al encabezado */
        padding: 10px;
        /* Espacio interior para separar el contenido */
        display: flex;
        align-items: center;
    }

    /* Estilo para los enlaces del menú de navegación */
    .nav-link {
        color: white;
        /* Color blanco */
        font-family: Consolas, monospace;
        /* Fuente Consolas o similar */
    }

    .nav-link:hover {
        color: red;
        /* Cambia el color del texto a rojo cuando el mouse se coloca sobre el enlace */

    }

    /* --------------------- NAVS --------------------- */
    .tab-content {
        margin-top: 40px;
        margin-left: 300px;
        margin-right: 300px;
        /* Espacio interior para separar el contenido */
    }

    .nav-link:vav {
        background-color: blue;
    }

    .custom-tab {
        background-color: #337ab7;
        /* Cambia el color de fondo a tu preferencia */
        color: #fff;
        /* Cambia el color del texto si es necesario */
    }

    .tab-content-container {
        max-height: 400px;
        /* Ajusta la altura máxima según tus necesidades */
        overflow-y: auto;
    }

    .consola-font {
        font-family: "Consolas", monospace;
    }

    pre {
        font-family: 'Consolas', monospace;
        /* Tipo de letra Consolas o similar */
        color: black;
        /* Texto en color negro fuera de los elementos <code> */
        padding: 10px;
        /* Espacio alrededor del código */
        background-color: #f0f0f0;
        /* Fondo gris */
        white-space: pre-wrap;
        /* Wrap de líneas largas */
        font-weight: bold;
    }

    pre code {
        color: white;
        /* Texto blanco dentro de los elementos <code> */
    }


    code {
        background: black;
        /* Fondo negro */
        color: white;
        /* Texto blanco dentro de los elementos <code> */
        padding: 0.125rem 0.25rem;
        border-radius: 5px;
        /* Redondeo de bordes */
    }

    /