    /* --------------------- ENCABEZADO --------------------- */
    /* Estilo para la barra de navegación */
    .navbar {
        background-color: black;
        /* Color de fondo similar al encabezado */
        padding: 10px;
        /* Espacio interior para separar el contenido */
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Estilo para los enlaces del menú de navegación */
    .nav-link {
        color: white;
        /* Color blanco */
        font-family: Consolas, monospace;
        /* Fuente Consolas o similar */
    }

    .nav-link:hover {
        color: red;
        /* Cambia el color del texto a rojo cuando el mouse se coloca sobre el enlace */
    }

    /* ----------------------- FONDO ----------------------- */
    /* Establece el fondo gris para todo el body */
    body {
        background-color: cornsilk;
        background-image: url("");
        /* Reemplaza './ruta/de/la/imagen.jpg' con la ruta real de tu imagen de fondo */
        background-size: cover;
        /* Ajusta la imagen de fondo al tamaño de la ventana del navegador */
        background-repeat: no-repeat;
        /* Evita que la imagen de fondo se repita */
        background-attachment: fixed;
        /* Fija la imagen de fondo para que no se desplace con el contenido */
    }

    /* --------------------- TARJETAS --------------------- */
    /* Define el borde negro para las tarjetas */
    .border-black {
        border: 1px solid #000;
    }

    .card:hover {
        transform: scale(1.05);
        /* Cambia el tamaño de la tarjeta al hacer hover */
        transition: transform 0.3s ease;
        /* Añade una transición suave */
    }

    /* Estilos para los lenguajes de programación en rectángulos con esquinas redondeadas */
    .programming-languages {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .programming-language-rectangle {

        display: flex;
        align-items: center;
        border-radius: 10px;
        /* Esquinas redondeadas */
        padding: 5px 10px;
        /* Espaciado interno */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        /* Sombra ligera */
        font-family: "Consolas", monospace;
        /* Fuente Consola */
        font-weight: bold;
        background-color: #fff;
        /* Fondo blanco */
        justify-content: space-between;
        color: #000;
    }

    /* Estilos para el texto de lenguaje */
    .programming-language-text {
        margin-left: 10px;
        /* Espacio entre la imagen y el texto */
    }

    .programming-language-rectangle img {
        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;
    }

    /* Estilos para los títulos de los niveles */
    .level-title {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: #000;
        /* Color de texto negro */
        font-family: "Consolas", monospace;
        /* Fuente Consola */
    }

    /* Estilos para la etiqueta "Gratis" */
    .badge-gratis {
        background-color: red;
        /* Color de fondo verde (puedes cambiarlo) */
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    /* Estilos para el texto descriptivo */
    .level-description {
        font-size: 16px;
        text-align: justify;
        /* Justificar el texto */
        color: #000;
        /* Color de texto negro */
        font-family: "Consolas", monospace;
        /* Fuente Consola */
    }

    /* --------------------- FOOTER --------------------- */
    /* Estilo para los enlaces del pie de página */
    .footer-link {
        color: #FFFFFF;
        /* Color blanco */
        text-decoration: none;
        /* Quita el subrayado */
        transition: color 0.2s;
        /* Transición suave del color */
    }

    /* Estilo para los enlaces del pie de página cuando se posiciona el cursor sobre ellos */
    .footer-link:hover {
        color: #FF0000;
        /* Cambia el color al pasar el cursor */
    }

    .section-description {
        text-align: justify;
        /* Alinea el texto a la izquierda */
        background-color: #f0f0f0;
        /* Color de fondo del rectángulo */
        padding: 10px;
        /* Espaciado interno para separar el contenido del rectángulo */
        border: 1px solid #000;
        /* Borde del rectángulo */
        font-family: Consolas;
        /* Fuente del texto */
        
    }
