    body {
        background-color: cornsilk;
    }

    /* --------------------- ENCABEZADO --------------------- */
    /* Estilo para la barra de navegación */
    .navbar {
        background-color: black;
        /* Color de fondo similar al encabezado */
        padding: 10px;
        /* Espacio interior para separar el contenido */
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* Estilo para los enlaces del menú de navegación */
    .nav-link {
        color: white;
        /* Color blanco */
        font-family: Consolas, monospace;
        /* Fuente Consolas o similar */
    }

    .nav-link:hover {
        color: red;
        /* Cambia el color del texto a rojo cuando el mouse se coloca sobre el enlace */
    }

    /* --------------------- CARDS SELECT --------------------- */
    .card-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-group {
        justify-content: center;
        /* Espacio entre grupos de tarjetas */
        margin-top: 10px;
    }

    .card {
        cursor: pointer;
        transition: transform 0.3s;
        max-width: 18rem;
        border: 2px solid black; /* Agregar borde negro en todos los lados */
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .card-body {
        background-color: black;
    }
    
    .card-header {
        background-color: darkcyan;
        color: white;
        text-align: justify;
        font-family: Consolas;
        padding: 20px;     
    }
    
    .card-text {
        background-color: #f0f0f0;
        color: #000;
        text-align: justify;
        font-family: Consolas;
        padding: 10px;        
    }
        