<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información - InfoCode - 25/10/23</title>
    <meta name="description"
        content="Información detallada sobre los temas clave del lenguaje de programación, tutoriales, ejemplos y recursos para aprender y dominar el lenguaje.">

    <meta name="keywords" content="Información, Lenguaje de programación, Tutoriales, Ejemplos, Recursos">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles-information.css">
</head>

<body>
    <header>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <div class="Logo">
                <!-- Logotipo y nombre de la página -->
                <a class="navbar-brand" href="../Index.html">
                    <img src="../img/footer/Logo.png" alt="Logo página" class="img-fluid" width="100" height="100">
                </a>
            </div>
            <!-- Menú de navegación -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Soporte</a>
                </li>
            </ul>
        </nav>
    </header>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <!-- Pestaña 1 -->
        <li class="nav-item" role="presentation">
            <button class="nav-link active custom-tab" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                type="button" role="tab" aria-controls="tab1" aria-selected="true">Introducción a HTML</button>
        </li>

        <!-- Pestaña 2 -->
        <li class="nav-item" role="presentation">
            <button class="nav-link custom-tab" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button"
                role="tab" aria-controls="tab2" aria-selected="false">Tema 2</button>
        </li>

        <!-- Pestaña 3 -->
        <li class="nav-item" role="presentation">
            <button class="nav-link custom-tab" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                role="tab" aria-controls="tab3" aria-selected="false">Tema 3</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <!-- Contenido de la Pestaña 1 -->
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <h2>Introducción a HTML</h2>
            <hr>
            <p>Ahora comencemos a ver los fundamentos de HTML. Aquí tenemos un ejemplo de una página web muy sencilla:
            </p>

            <pre>
                &lt;!DOCTYPE html&gt;
                &lt;html lang="es"&gt;
                  &lt;head&gt;
                    &lt;title&gt;Mi página web&lt;/title&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;h1&gt;Mi página web&lt;/h1&gt;
                    &lt;p&gt;Estoy aprendiendo desarrollo web.&lt;/p&gt;
                  &lt;/body&gt;
                &lt;/html&gt;
              </pre>

            <p> Tip: En HTML, la indentación (el espacio o sangría que colocamos antes de las líneas) es muy importante
                porque nos permite distinguir visualmente la estructura de la página web en el archivo. Aunque no es
                obligatoria, se recomienda usarla para comprender más fácilmente la estructura de la página. Se
                recomienda dejar 2 espacios por cada nivel de indentación.</p>
            <h5>Elementos</h5>
            <p>Un archivo HTML está conformado por elementos HTML. Estos elementos son componentes individuales en HTML
                que nos permiten crear la estructura de la página.</p>
            <p>Este es un ejemplo de un elemento:</p>

            <pre>&lt;h1&gt;Mi página web&lt;/h1&gt;</pre>

            <p>Tip: Ciertos elementos pueden contener a otros elementos y crear estructuras más complejas. Al anidar los
                elementos uno dentro del otro, se debería indentar los elementos internos para reflejar esta estructura,
                como en nuestro ejemplo anterior.</p>

            <h5>Etiquetas</h5>

            <pre>
                <ul>
                    <li><code>&lt;html&gt;</code> - Todo el contenido de la página debe estar entre estas etiquetas.</li>
                    <li><code>&lt;head&gt;</code> - Este elemento contiene el título de la página que se muestra en la pestaña del navegador y metadatos adicionales.</li>
                    <li><code>&lt;body&gt;</code> - Aquí se encuentran todos los elementos visibles de la página web. La estructura principal de la página debe estar entre estas etiquetas.</li>
                    <li><code>&lt;h1&gt;</code>, <code>&lt;h2&gt;</code>, <code>&lt;h3&gt;</code>, <code>&lt;h4&gt;</code>, <code>&lt;h5&gt;</code>, <code>&lt;h6&gt;</code> - Estos elementos representan encabezados o títulos de diferente importancia en la página web.</li>
                    <li><code>&lt;p&gt;</code> - Se utiliza para crear párrafos de texto.</li>
                    <li><code>&lt;a&gt;</code> - Permite enlazar a otras páginas web o secciones internas de tu sitio.</li>
                    <li><code>&lt;strong&gt;</code> - Esta etiqueta resalta el texto importante y generalmente se muestra en negrita.</li>
                    <li><code>&lt;em&gt;</code> - Esta etiqueta resalta el texto importante y generalmente se muestra en cursiva.</li>
                    <li><code>&lt;form&gt;</code> - Te permite crear formularios interactivos.</li>
                    <li><code>&lt;hr&gt;</code> - Una línea horizontal utilizada para separar secciones de contenido en tu página web.</li>
                    <li><code>&lt;input&gt;</code> - Permite crear campos de entrada en formularios, como cuadros de texto y botones de radio.</li>
                    <li><code>&lt;footer&gt;</code> - El pie de página de tu página web.</li>
                </ul>
            </pre>

            <p>La mayoría de los elementos en HTML tienen una etiqueta de apertura y una etiqueta de cierre. Entre ambas
                etiquetas se escribe el contenido del elemento. En el ejemplo anterior estamos creando un elemento de
                tipo &lt;h1&gt; (un encabezado de nivel 1):&lt;/h1&gt;</p>

            <pre>&lt;h1&gt;Mi página web&lt;/h1&gt;</pre>
            <center><img class="responsive-img"
                    src="https://www.freecodecamp.org/espanol/news/content/images/2021/10/image-29.png" alt="Ejemplo">
            </center>
            <hr>
            <center>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rbuYtrNUxg4?si=x4sbcsrPmCzXHr1J"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </center>
        </div>

        <!-- Contenido de la Pestaña 2 -->
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <h2>Pestaña 2</h2>
            <p>Este es el contenido de la Pestaña 2.</p>
            <img src="ruta_de_tu_imagen_2.jpg" alt="Imagen 2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/video_ID_2" frameborder="0"
                allowfullscreen></iframe>
        </div>

        <!-- Contenido de la Pestaña 3 -->
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <h2>Pestaña 3</h2>
            <p>Este es el contenido de la Pestaña 3.</p>
            <img src="ruta_de_tu_imagen_3.jpg" alt="Imagen 3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/video_ID_3" frameborder="0"
                allowfullscreen></iframe>
        </div>


        <!--Footer-->
        <div class="container">
            <footer class="py-3 my-4">
                <p class="text-center text-muted">Copyright © 2021 Digital Education Ltd</p>
            </footer>
        </div>
        <!--Fin-->

        <!-- Scripts de Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>