<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenguajes de Programacion - InfoCode</title>
    <meta name="description"
        content="Lista de lenguajes de programación que decea aprender.">

        <meta name="keywords" content="Lenguajes de programación, HTML, CSS, JavaScript, InfoCode">

    <link rel="icon" href="../img/footer/ico.png" type="image/x-icon" sizes="16x16 32x32">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles-select.css">
</head>

<body>
    <header>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <div class="Logo">
                <!-- Logotipo y nombre de la página -->
                <a class="navbar-brand" href="../Index.html">
                    <img src="../img/footer/Logo.png" alt="Logo página" class="img-fluid" width="100" height="100">
                </a>
            </div>
            <!-- Menú de navegación -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Soporte</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="card-group">
        <div class="card text-white bg-primary mb-3 mx-3 mt-3" id="htmlCard">
            <div class="card-header">HTML</div>
            <div class="card-body">
                <img src="../img/cards/html.png" class="card-img-top mx-auto w-100" alt="Imagen del lenguaje">
            </div>
            <div class="card-text">
                <strong>HTML</strong> es el lenguaje de marcado utilizado para crear páginas web. Se compone de una
                serie de etiquetas
                que definen la estructura y el contenido de una página.
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3 mx-3 mt-3" id="cssCard">
            <div class="card-header">CSS</div>
            <div class="card-body">
                <img src="../img/cards/css.png" class="card-img-top mx-auto w-100" alt="Imagen del lenguaje">
            </div>
            <div class="card-text">
                <strong>CSS</strong> es un lenguaje de estilo utilizado para controlar la presentación y el diseño de
                una página web.
            </div>
        </div>
        <div class="card text-white bg-success mb-3 mx-3 mt-3" id="jsCard">
            <div class="card-header">JavaScript</div>
            <div class="card-body">
                <img src="../img/cards/js.png" class="card-img-top mx-auto w-100" alt="Imagen del lenguaje">
            </div>
            <div class="card-text">
                <strong>JavaScript</strong> es un lenguaje de programación que se utiliza para crear interactividad en
                las páginas web.
            </div>
        </div>
    </div>

    <script src="../js/changes.js"></script>
    <script src="../js/topics.js"></script>

    <!-- scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>